body{
    margin: 0;
    width: 1920px;
    background: #E5E5E5;
}
.header{
    height: 90px;
    background-color: #202846;
    box-sizing: border-box;
}
.logo{
    padding-left: 138px;
    padding-top: 10px;
}
ul li{
    color: #fff;
    font-size: 24px;
    list-style: none;
    display: inline-block;
    font-weight: 700;
    margin: 30px;
}
    ul{
    position: absolute;
    top: 0;
    margin: 0px;
    left: 500px;
    }
.last-li{
    padding-left: 80px;
}
.globus{
    display: inline-block;
    padding-left: 1415px;
}
.down-head{
    height: 140px;
    background-color: #C6C6DC;
    font-size: 48px;
    padding: 38px;
    box-sizing: border-box;
    padding-left: 227px;
}
.box{
    margin: 185px 216px;
}
.card{
    display: inline-block;
    box-sizing: border-box;
    width: 1489px;
    height: 300px;
    background-color: #BDBDC6;
    background-image: url(./img/image\ 5.png);
    background-repeat: no-repeat;
    background-position-x: 103px;
    background-position-y: 28px;
    background-size: 485px 244px;
}
.title{
    display: inline-block;
    font-weight: 700;
    font-size: 36px;
    color: #353C57;
    margin-left: 688px;
    margin-top: 27px;
}
.border{
    border-bottom: 3px solid #FFFFFF;
    width: 712px;
    margin-left: 688px;
    margin-top: 2px;
}
.info{
    display: inline-block;
    box-sizing: border-box;
    width: 712px;
    height: 184px;
    background-color: #D7D7DD;
    margin-left: 690px;
    margin-top: 14px;
    font-size: 22px;
    font-weight: 400;
    padding-top: 21px;
    padding-left: 23px;
    padding-right: 24px;
    text-align: center;
}
.star{
    z-index: 1;
    top: 424px;
    margin-left: 1425px; 
    position: absolute;
}
.star-up{
    top: 424px;
    margin-left: 1425px; 
    position: absolute;
}
.card:hover .star{
    z-index: 0;
}
.ditail{
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: #202846;
    border: 1px solid #202846;
    border-radius: 10px;
    left: 1540px;
    top: 640px;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding-top: .5%;
    box-sizing: border-box;
    transition: all .35s;
}
.ditail:hover{
    background-color: #3f37a7;
    font-size: 28px;
    transition: all .35s;
}
.box div:nth-child(3){
    margin-top: 36px;
}
.star-two{
    z-index: 1;
    top: 755px;
    margin-left: 1425px; 
    position: absolute;
}
.star-up-two{
    top: 755px;
    margin-left: 1425px; 
    position: absolute;
}
.card-two:hover .star-two{
    z-index: 0;
}
.card-two{
    display: inline-block;
    box-sizing: border-box;
    width: 1489px;
    height: 300px;
    background-color: #BDBDC6;
    background-image: url(./img/image\ 4.png);
    background-repeat: no-repeat;
    background-position-x: 103px;
    background-position-y: 28px;
    background-size: 485px 244px;
}
.ditail-two{
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: #202846;
    border: 1px solid #202846;
    border-radius: 10px;
    left: 1540px;
    top: 976px;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding-top: .5%;
    box-sizing: border-box;
    transition: all .35s;
}
.ditail-two:hover{
    background-color: #3f37a7;
    font-size: 28px;
    transition: all .35s;
}
.star-three{
    z-index: 1;
    top: 1091px;
    margin-left: 1425px; 
    position: absolute;
}
.star-up-three{
    top: 1091px;
    margin-left: 1425px; 
    position: absolute;
}
.card-three:hover .star-three{
    z-index: 0;
}
.card-three{
    margin-top: 36px;
    display: inline-block;
    box-sizing: border-box;
    width: 1489px;
    height: 300px;
    background-color: #BDBDC6;
    background-image: url(./img/image\ 6.png);
    background-repeat: no-repeat;
    background-position-x: 103px;
    background-position-y: 28px;
    background-size: 485px 244px;
}
.ditail-three{
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: #202846;
    border: 1px solid #202846;
    border-radius: 10px;
    left: 1540px;
    top: 1313px;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding-top: .5%;
    box-sizing: border-box;
    transition: all .35s;
}
.ditail-three:hover{
    background-color: #3f37a7;
    font-size: 28px;
    transition: all .35s;
}
.star-four{
    z-index: 1;
    top: 1425px;
    margin-left: 1425px; 
    position: absolute;
}
.star-up-four{
    top: 1425px;
    margin-left: 1425px; 
    position: absolute;
}
.card-four:hover .star-four{
    z-index: 0;
}
.card-four{
    margin-top: 36px;
    display: inline-block;
    box-sizing: border-box;
    width: 1489px;
    height: 300px;
    background-color: #BDBDC6;
    background-image: url(./img/image\ 7\ \(1\).png);
    background-repeat: no-repeat;
    background-position-x: 103px;
    background-position-y: 28px;
    background-size: 485px 244px;
}
.ditail-four{
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: #202846;
    border: 1px solid #202846;
    border-radius: 10px;
    left: 1540px;
    top: 1651px;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding-top: .5%;
    box-sizing: border-box;
    transition: all .35s;
}
.ditail-four:hover{
    background-color: #3f37a7;
    font-size: 28px;
    transition: all .35s;
}
.footer{
    height: 90px;
    background-color: #202846;
    font-size: 36px;
    color: #fff;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 27px;
    padding-left: 138px;
}




