body{
    margin: 25px auto ;
    width: 1440px;
    /*font-family: 'Inika', serif;
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Marcellus SC', serif;*/
}
.name{
    height: 110px;
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
    line-height: 70px;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: #3E45E8;;
    font-size: 48px;
    font-style: normal;
}
.uk{
    color: #FBE201;
}
.banner{
    height: 803px;
    background-image: url("./img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 235px;
    padding-left: 118px;
}
.title{
    
    box-sizing: border-box;
    color: white;
    font-family:'Inika';
    font-size: 48px;
    background-image: url("./img/flag.png");
    background-repeat: no-repeat;
    height: 272px;
    width: 80%;
    padding-left: 36px;
    padding-top: 10px;
    box-sizing: border-box;   
}
.marg-or-card{
    margin-left: 6%;
}
.text{
    font-family: 'Inika';
    font-size: 40px;
    font-weight: 700;
    padding-top: 72px;
}
.border{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin-top: 25px;  
}
.card{
    box-sizing: border-box;
    margin-top: 33px;
    border-color:#ffffff;
    border-style: solid;
    width: 394px;
    height: 481px;
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 0px 4px 57px 3px #00000040;
    display: inline-block;
}
.card-title{
    font-family: 'Inika', serif;
    font-size: 24px;
    color: #1E8DF2;
    font-weight: 700;
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 10px;
}
.card-info{
    font-family: 'Inika', serif;
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 85px;
}
.card-sec{
    margin: 0px 3%;
}
.center{
    padding-bottom: 21px;
}
.c-text{
    font-family: 'Inika', serif;
    font-weight: 700;
    font-size: 40px;
    color: black;
    text-align: center;
    padding-top: 74px;
}
.c-border{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin-left: 35%;
    margin-top: 21px;
}
.c-img{
    text-align: center;
    padding-top: 41px;
    padding-bottom: 41px;
}
.c-bottom{
    font-family: 'Inika', serif;
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
    background-color: #2A61F0;
    border: 5px solid #2A61F0;
    box-sizing: border-box;
    width: 591px;
    height: 121px;
    text-align: center;
    padding-top: 10px;
    margin:auto;
}
.footer{
    background-color: #2F4A4B;
    height: 320px;
}
.f-name{
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #3E45E8;
    line-height: 70px;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 10px;
}
span{
    color: #E8C23E;
}
.f-mail a{
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    list-style: none;
    text-decoration: none;
}
.f-mail{
    text-align: center;
    padding-top: 10px;
}
.f-tel a{
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    font-size: 36px;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    text-decoration: none;
    list-style: none;
}
.f-tel{
    text-align: center;
    padding-top: 21px;
}
.icon{
    text-align: center;
    margin-top: 20px;
}