body{
    margin: 0 auto;

    width: 1440px;
    background-color: #252C2F;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Inter', sans-serif;*/
}
.header{
    width: 1342px;
    height: 66px;
    margin-top: 17px;
    margin-left: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 18px;
    
}
ul, li, .hire, .logo{
    display: flex;
}
.logo{
    margin-left: -10px;
}
ul li{
    padding: 10px;
    text-decoration: none;
    transition: all .3s;
}
.hire{ 
    margin-right: 15px;
    
    border-width: 15px;
    padding: 12px 26px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #FFB742;
    color: black;
    box-sizing: border-box;
    transition: all .3s;
}
.hire a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.hire:hover{
    color: white;
    box-shadow: 0px 0px 4px 0px white;

}
li:hover{
    color: #FFB742;
}
.baner{
    width: 964px;
    height: 459px;
    display: inline-block;
    text-align: center;
    margin-left: 238px;
    margin-top: 130px;
    color: white;
    font-family: 'Inter', sans-serif;
}
h3 a{
    color: #FFB742;
}
h3{
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
h6 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.card{
    width: 416px;
    height: 120px;
    filter: drop-shadow(10px 10px 51px rgba(0, 0, 0, 0.25));
    background-color: #292B2E;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
}

.card-icon{
    margin-top: 28px;
    margin-left: 30px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40px;
    font-family: 'Inter', sans-serif;
    color: #fff;;
    font-size: 16px;
    font-weight: 700;
    align-self: center;
}
span{
    font-family: 'Inter', sans-serif;
    color:#FFB742;
    font-size: 32px;
    font-weight: 700;
}
.arrow{
    margin-top: 55px;
    margin-left: 75px;
}
.card-two{
    width: 416px;
    height: 120px;
    filter: drop-shadow(10px 10px 51px rgba(0, 0, 0, 0.25));
    background-color:#292B2E;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
 
}
.card-icon-two{
    margin-top: 28px;
    margin-left: 30px;
}
.title-two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40px;
    font-family: 'Inter', sans-serif;
    color: #fff;;
    font-size: 16px;
    font-weight: 700;
    align-self: center;
}

.arrow-two{
    margin-top: 55px;
    margin-left: 75px;
}
.two{
    font-family: 'Inter', sans-serif;
    color:#FFB742;
    font-size: 32px;
    font-weight: 700;
}
.card-three{
    width: 416px;
    height: 120px;
    filter: drop-shadow(10px 10px 51px rgba(0, 0, 0, 0.25));
    background-color:#292B2E;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
   
}
.card-icon-three{
    margin-top: 28px;
    margin-left: 30px;
}
.title-three{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40px;
    font-family: 'Inter', sans-serif;
    color:#fff;
    font-size: 16px;
    font-weight: 700;
    align-self: center;
}

.arrow-three{
    margin-top: 55px;
    margin-left: 75px;
}
.all-card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 130px;
}
.man{
    width: 1342px;
    height: 596px;
    box-sizing: border-box;
    display: flex;
    margin: 130px auto;
}
.span{
    font-family: 'Inter', sans-serif;
    color:white;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 30px;
}

.info{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight:400;
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 32px;

}
.hire-me{
    position: absolute;
    top: 150%;
    left: 50%;
    
    background-color: #FFB742;
    border-radius: 29px;
    border-color: #FFB742;
    padding: 12px 26px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 19px;
}
.hire-me a{
    text-decoration: none;
    color: black;
}
.card:hover,.card-two:hover,.card-three:hover{
    background-color:#FFB742;
    transition: all .5s;
}
.text{
    text-align: center;
    font-family:'Poppins', sans-serif;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}
li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
ul {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.img{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    justify-content: space-evenly;
}
.img-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.options:hover{
    background-color: #FFB742;
    color: #292B2E;
    border-radius: 10px;
    transition: all .3s;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    filter: drop-shadow(10px 10px 51px rgba(0, 0, 0, 0.25));  
    margin-top: 116px;
    width: 1440px;
    height: 400px;
    background-color:#1C1C1C;
    font-family:'Poppins', sans-serif;
    padding-top: 60px;
    box-sizing: border-box;
}
.user a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #FFB742;
    
}
.user{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}
.list-footer,.list-footer-two,.list-footer-three{
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
     font-size: 22px;
    color: #fff;
    font-weight: 700;
}
.list-footer li a,.list-footer-two li a,.list-footer-three li a{
    font-size: 16px;
    color:#7B7B7B;
    font-weight: 500;
    align-items: flex-start;
}

li a:hover{
    color: #FFB742;
    transition: all .3s;
}




    

