
.speech-sq{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    background-image: url(./img/blue.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.speech-sq svg{
    margin-top: 145px;
    margin-left: 52px;
    display: block;
}
.speech-ci{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    background-image: url(./img/blue.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}
.speech-ci svg{
    display: block;
    margin-top: 245px;
    margin-left: 55px;
}
.square{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    background-image: url(./img/Blue\ \(1\).png);
    background-repeat: no-repeat;
    display: inline-block;
}
.circle{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    background-image: url(./img/Blue\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}
.petcub-sq{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    background-image: url(./img/Blue\ \(1\).png);
    background-repeat: no-repeat;
    display: inline-block;
}
.petcub-sq svg{
    margin-top: 59px;
    display: block;
}
.petcub-ci{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    background-image: url(./img/Blue\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}
.petcub-ci svg{
    display: block;
    margin-left: 83px;
    margin-top: 62px;
}
.spark-sq{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    background-image: url(./img/Blue\ \(1\).png);
    background-repeat: no-repeat;
    display: inline-block;
    
}
.spark-sq svg{
    display: block;
    margin-top: 127px;
    margin-left: 171px;
}
.spark-ci{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    background-image: url(./img/Blue\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}
.spark-ci svg{
    display: block;
    margin-left: 81px;
    margin-top: 62px;
}
.diia-sq{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    background-image: url(./img/Blue\ \(1\).png);
    background-repeat: no-repeat;
    display: inline-block;
}
.diia-sq svg{
    display: block;
    margin-top: 158px;
    margin-left: 93px;
}
.diia-ci{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    background-image: url(./img/Blue\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}
.diia-ci svg{
    display: block;
    margin-top: 158px;
    margin-left: 93px;
}
.flag-one{
    width: 512px;
    height: 512px;
    background-color: black;
    background-image: url(./img/Vector.png);
    background-repeat: no-repeat;
    background-position-x: 100px;
    background-position-y: 153px;
    display: inline-block;
}
.flag-one svg{
    display: block;
    margin-top: 343px;
    margin-left: 216px;
}
